<%- include('_head.ejs') %>

<div class="card text-white bg-secondary">
  <div class="card-header bg-info h3">
    <i class="fas fa-handshake"></i>
    &nbsp; Hello World API Response
  </div>
  <div class="card-body">
    <h4><%= message %></h4>
  </div>
</div>

<%- include('_foot.ejs') %> 